<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="suzlon_rcp_assesment.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="suzlon_rcp_assesment.Perspective"
            id="Suzlon_RCP_Assesment.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Turbines"
            inject="true"
            class="suzlon_rcp_assesment.View"
            id="Suzlon_RCP_Assesment.view">
      </view>
       <view
            name="Turbine Details"
            inject="true"
            class="suzlon_rcp_assesment.TurbineDetailsView"
            id="Suzlon_RCP_Assesment.turbinedetailsview">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="Suzlon_RCP_Assesment.view">
         </view>
          <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="right"
               id="Suzlon_RCP_Assesment.turbinedetailsview">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="Suzlon_RCP_Assesment">
      </intro>
      <introProductBinding
            introId="Suzlon_RCP_Assesment"
            productId="Suzlon_RCP_Assesment">
      </introProductBinding>
   </extension>
     <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="Suzlon_RCP_Assesment"
            content="introContent.xml"
            id="Suzlon_RCP_Assesment.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>

</plugin>
